In [1]:
# import pandas to read in CSV files
import pandas as pd

# import matplotlib + seaborn for exploratory data analysis
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# read in accident data CSVs for 2015 - 2017
acc15 = pd.read_csv('/Users/ianforrest/Desktop/coding/repos/DS_Safe-Routes/modeling/accident15.csv')
acc16 = pd.read_csv('/Users/ianforrest/Desktop/coding/repos/DS_Safe-Routes/modeling/accident16.csv')
acc17 = pd.read_csv('/Users/ianforrest/Desktop/coding/repos/DS_Safe-Routes/modeling/accident17.csv')

In [3]:
# combine acc15, acc16, acc17 into one dataframe
acc = acc15.append(acc16, sort=False, ignore_index = True)
acc = acc.append(acc17, sort=False, ignore_index = True)

In [4]:
acc.shape

(101533, 52)

In [7]:
# display columns of combined acc dataframe
acc.columns

Index(['STATE', 'ST_CASE', 'VE_TOTAL', 'VE_FORMS', 'PVH_INVL', 'PEDS',
       'PERNOTMVIT', 'PERMVIT', 'PERSONS', 'COUNTY', 'CITY', 'DAY', 'MONTH',
       'YEAR', 'DAY_WEEK', 'HOUR', 'MINUTE', 'NHS', 'RUR_URB', 'FUNC_SYS',
       'RD_OWNER', 'ROUTE', 'TWAY_ID', 'TWAY_ID2', 'MILEPT', 'LATITUDE',
       'LONGITUD', 'SP_JUR', 'HARM_EV', 'MAN_COLL', 'RELJCT1', 'RELJCT2',
       'TYP_INT', 'WRK_ZONE', 'REL_ROAD', 'LGT_COND', 'WEATHER1', 'WEATHER2',
       'WEATHER', 'SCH_BUS', 'RAIL', 'NOT_HOUR', 'NOT_MIN', 'ARR_HOUR',
       'ARR_MIN', 'HOSP_HR', 'HOSP_MN', 'CF1', 'CF2', 'CF3', 'FATALS',
       'DRUNK_DR'],
      dtype='object')

In [38]:
# 1 - Los Angeles, CA - 913 Accidents - City Code = 1980, State Code = 06 
# 2 - Phoenix, AX - 692 Accidents - City Code = 0370, State Code = 04 
# 3 - Houston, TX - 690 Accidents - City Code = 3280, State Code = 48
# 4 - Dallas, TX - 688 Accidents - City Code = 1730, State Code = 48
# 5 - New York City, NY - 661 Accidents - City Code = 4170, State Code = 36
# 6 - San Antonio, TX - 475 Accidents - City Code = 6090, State Code = 48
# 7 - Jacksonville, FL - 473 Accidents - City Code = 1510, State Code = 12
# 8 - Chicago, IL - 463 Accdents - City Code = 1670, State Code = 17
# 9 - Austin, TX - 372 Accidents - City Code = 0330, State Code = 48
# 10 - Detriot, MI - 368 Accidents - City Code = 1260, State Code = 26
# 11 - Memphis, TN - 344 Accidents - City Code = 1620, State Code = 47
# 12 - Louisville, KY - 341 Accidents - City Code = 2090, State Code = 21
# 13 - Forth Worth, TX - 316 Accidents - City Code = 2450, State Code = 48
# 14 - Albuquerque, NM - 313 Accidents - City Code = 0030, State Code = 35
# 15 - Charlotte, NC - 309 Accidents - City Code = 0870, State Code = 37

acc_city_state = acc[['CITY', 'STATE']]
acc_city_state = acc_city_state[acc_city_state['CITY'] > 0]
acc_city_state = acc_city_state[acc_city_state['CITY'] < 9997]
acc_city_state['CITY'].value_counts().head(15)

1980    913
370     692
3280    690
1730    688
4170    661
6090    475
1510    473
1670    463
330     372
1260    368
1620    344
2090    341
2450    316
30      313
870     309
Name: CITY, dtype: int64

In [36]:
acc_city_state.groupby(['CITY','STATE']).size().sort_values(ascending=False)

CITY  STATE
1980  6        788
3280  48       668
4170  36       652
370   4        623
1730  48       512
6090  48       471
1510  12       398
1670  17       364
1260  26       321
1620  47       307
2210  18       272
6540  42       268
2450  48       262
330   48       258
3550  40       257
870   37       249
3260  6        248
2090  21       247
30    35       218
4120  29       213
1760  47       194
3100  55       175
530   4        173
3340  6        171
280   13       168
1800  39       161
2190  48       160
3150  6        155
7080  29       155
2950  12       151
              ...
2250  18         1
      20         1
      34         1
      37         1
2252  28         1
2255  47         1
2260  21         1
      27         1
      29         1
2237  21         1
2232  36         1
2230  40         1
2220  48         1
2210  37         1
      41         1
2215  21         1
2217  22         1
2219  36         1
2220  20         1
      22         1
      53         1
2230  34         1
2221  54         1
2222  36         1
2228  36         1
2230  1          1
      5          1
      13         1
      19         1
1     23         1
Length: 9018, dtype: int64

In [ ]:
# Thoughts for plotly interactive map

# 1 - going to need lat/long of accident in geoJSON format